*{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#8DA4B2;
}
ul,li{
    list-style: none;
    color:#969899;
}


body{
    background: #F4F5F9;
    position: relative;
}
.rt{
    float:right;
}
/*头部*/

#header{
    width:1113px;
    height:50px;
    background: #fff;
    line-height: 50px;
    padding:0 50px 0 30px;
}
.welcome a>i{
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid black;
    position: absolute;
    top:25px;
    left:1289px;
}
.welcome a{
    background: #F6F6F7;
    padding:2px 12px;
    border-radius: 5px;
}
.config{
    position: absolute;
    top:40px;
    left:1198px;
    z-index: 10;
    background: #fff;
    border:1px solid #E0E0E1;
}
.config>li{
    border-bottom:1px solid #E0E0E1;
    padding:5px 10px;
    height:38px;
    width:100px;
    line-height: 2em;
}
.config>li.active{
    background: #F6F6F7;
}
.config>li:nth-child(2)>i{
    width:20px;
    height:20px;
    display: inline-block;
    background: url('../img/images.png') no-repeat -10px -160px;
}
.config>li:nth-child(3)>i{
    width:20px;
    height:20px;
    display: inline-block;
    background: url('../img/images.png') no-repeat -10px -180px;
}

/*左侧*/
#lf_side{
    width:236px;
    background: #172224;
    min-height: 710px;
}

.three>li>a{
    display: inline-block;
    width:236px;
    padding:20px;
}
.three>li>a.active{
    border-left:3px solid #0AA5FE;
    width:233px;
    background: #121A1D;
}
.three>li>a>i{
    width:11px;
    height:11px;
    display: inline-block;
    margin-left:60px;
    background: url('../img/images.png') no-repeat -10px -50px;
}
.three>li>a>i.active{
    background: url('../img/images.png') no-repeat -40px -50px;
}
.three>li:nth-child(1)>a>b{
    width:20px;
    height:20px;
    display: inline-block;
    padding:15px 0 0 30px;
    background: url('../img/images.png') no-repeat -10px -20px;
}
.three>li:nth-child(1)>a>b.active{
    background: url('../img/images.png') no-repeat -40px -20px;
}
.three>li:nth-child(2)>a>b{
    width:20px;
    height:20px;
    display: inline-block;
    padding:15px 0 0 30px;
    background: url('../img/images.png') no-repeat -10px -70px;
}
.three>li:nth-child(2)>a>b.active{
    background: url('../img/images.png') no-repeat -40px -70px;
}
.three>li:nth-child(3)>a>b{
    width:20px;
    height:20px;
    display: inline-block;
    padding:15px 0 0 30px;
    background: url('../img/images.png') no-repeat -10px -130px;
}
.three>li:nth-child(3)>a>b.active{
    background: url('../img/images.png') no-repeat -40px -130px;
}
.three ul>li{
    padding:10px 0 10px 25px;

}
.three ul>li.active{
    background: #4A4A4A;

}
.three ul>li>i.active{
    padding-right:5px;
    background-color:#4A4A4A;
    width:10px;
    height:10px;
    display: inline-block;
    background: url('../img/images.png') no-repeat -10px -10px;
}



/*当中主体*/
#middle{
    width:1000px;
    position: absolute;
    top:65px;
    left:300px;
}
.top>ul{
    display: flex;
    flex-flow: row nowrap;
}
.top>ul>li:first-child{
    padding:2px 18px;
    background: #172224;
    color:#fff;
    border-radius:8px 0 0 8px;
}
.top>ul>li:last-child{
    padding:2px 10px;
    background: #fff;
    border-radius:0 8px 8px 0;
}
.confirm{
    padding:2px 10px;
    border-radius: 3px;
    background: #F4F4F5;
    border:1px solid #CCCCCE;
}
#tbl{
    width:1000px;
    background: #fff;
    text-align: center;
    line-height: 1.5em;
    margin-top: 15px;
    border-collapse: collapse;
}
#tbl tr{

}
#tbl th{
    border-bottom: 1px solid #E1E1E1;
    padding:10px 0;
}
#tbl td{
    border-bottom: 1px solid #E1E1E1;
    padding:10px 0;
}
#tbl tr>td:nth-child(2){
    text-align: left;
}
#tbl tr>th:nth-child(2){
    text-align: left;
}
#tbl tr>td:nth-child(3)>i{
    width:12px;
    height:20px;
    display: inline-block;
    background: url('../img/images.png') no-repeat -10px -100px;
}
 dt{
     color:#224567;
 }
.bottom{
    display: flex;
    flex-flow: row nowrap;
    margin-top:30px;
}

.pages{
    display: flex;
    flex-flow: row nowrap;
    margin-left:510px;
}
.pages a{
    margin-right:10px;
    color:#262626;
}
.pages_jump{
    margin-left:50px;
}
.pages_jump input{
    width:50px;
}
.pages_jump button{
    background:#07B0EF ;
    border: none;
    color:#fff;
    padding:2px 13px;
}